{% extends "layout.html" %}
{% block content%}
<style>
    ul.name-list{
        list-style: none;

    }

</style>


<h2 class="border-bottom">Movie Recommendation site</h2>
<span style="font-size:20px;">  This is the movie recommendation site which recommend movie on the basis of user rating ... </span>   
<h3>This is made by :</h3>
<ul class="name-list">
    <li class="names">1. Abhinav Rao</li>
    <li class="names">2. Atul Singh Bhadauria</li>
    <li class="names">3. Akash Pateriya</li>
    <li class="names">4. Abhishek Sharma</li>
</ul>




{% endblock content%}
